[submodule "ui"]
	path = ui
	url = https://github.com/Myradose/fullstack-test-app-ui.git
[submodule "api"]
	path = api
	url = https://github.com/Myradose/fullstack-test-app-api.git
[submodule "db"]
	path = db
	url = https://github.com/Myradose/fullstack-test-app-db.git
